* {
    font-family: 'Atkinson Hyperlegible';
}

body {
    margin: 0;
    background-color: #E8C8E6;
}

.main {
    padding: 2%;
    display: flex;
    flex-direction: column;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 2s;
    justify-content: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main button {
    width: 150px;
    border: none;
    font-weight: bolder;
    background-color: #0035A9;
    color: #E8C8E6;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    margin: auto;
}

.linha {
    display: flex;
    justify-content: space-between;
}

#livro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* flipper da capa do livro pra foto da autora */
.flip-container {
    width: 160px;
    height: 230px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
     transform:  rotateX(180deg); 
    /* se quiser uma animação na horizontal,
	troque por rotateY(180deg)
	*/
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateX(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}




#sinopse {
    width: 30vw;
    padding: 10px;
    text-align: justify;
}

#sinopse h2 {
    color: #EB3455;
    font-weight: bolder;
}