*{
    font-family: 'Atkinson Hyperlegible';
}
body{
    margin: 0;
    background-color: #9C4F97;
}
h3 a{
    text-decoration: none;
    margin-left: 10%;
    color: #fff
}
#main{
    width: 100%;
    height: 90vh;
    background-color: #9C4F97;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    text-align: center;
    background-color: #DCB1D2;
    border-radius: 40px;
}

#main input{
    border-radius: 10px;
    border: none;
    width: 60%;
}
#main img{
    height: 90vh;
    width: 300px;
}
#result{
    width: 100%;
    height: 80vh;
    background-color: #9C4F97;
    display: none;
    align-items: center;
    justify-content: center;
}
#res2{
    display: flex;
    align-items: center;
    justify-content: center;
}
 #resposta{
    width: 400px;
    height: fit-content;
    padding: 10%;
    text-align: center;
    background-color: #DCB1D2;
    border-radius: 40px;
}
button{
    width: 150px;
    padding: 3%;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #3E253B;
}